<!DOCTYPE html>
<html>

<head>

<title>Deutsch Lernen</title>

<style>

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}


h1 {
    font-size: 40px;
}


.parola {

    font-size: 60px;
    margin: 50px;

}


.progresso {

    font-size: 25px;
    margin: 20px;

}


input {

    font-size: 25px;
    padding: 10px;

}


button {

    font-size: 25px;
    padding: 12px 35px;
    margin: 10px;

}


.errore {

    color: red;
    font-size: 30px;

}

</style>


</head>


<body>


<h1>Deutsch Lernen</h1>




{% if menu %}



<h2>Scegli modalità</h2>



<form action="/scheda" method="post">

<button>

Continua scheda

</button>

</form>



<form action="/nuova_scheda" method="post">

<button>

Nuova scheda

</button>

</form>



<form action="/ripasso" method="post">

<button>

Ripasso

</button>

</form>




{% else %}




<div class="progresso">

Progresso:

{{ fatti }}/{{ totale }}

</div>





{% if domanda %}



<div class="parola">

{{ domanda.domanda }}

</div>



<h2>

{{ domanda.direzione }}

</h2>



<p>

Tentativi corretti:

{{ domanda.corrette }}

</p>





{% if errore %}



<div class="errore">

❌ Risposta sbagliata

<br><br>

Soluzione:

{{ errore }}

</div>



<form action="/continua" method="post">

<button autofocus>

Continua

</button>

</form>




{% else %}





<form action="/risposta" method="post">


<input

type="text"

name="risposta"

autocomplete="off"

autofocus

required

>


<br>


<button>

Controlla

</button>


</form>





{% endif %}





{% else %}



<h2>

Scheda completata

</h2>



<form action="/" method="get">

<button>

Menu

</button>

</form>



{% endif %}





{% endif %}



</body>

</html>
